
.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid{
    margin-top: 10px;
}


.card{
    background-color: #CB5940;
    color: white;
    border-radius: 10px;
}

.card-header{
    background-color: white;
    color: black;
}

.card-footer{
    background-color: white;
}

.table{
    background-color: #CB5940;
}

table{
    border-radius: 5px;
}

.btn-primary{
    margin-left: 5px;
}

.navbar-expand-lg{
    background-color: inherit;
}

#squad-delete{
    margin-left: 5px;
}

.jumbotron{
    background-color: #CB5940;
    color: white;
}

#deled-button{
    margin-left: 5px;
}

#hero-add{
    margin-top: 5px;
}

#squad-hero{
    margin-top: 5px;
}

.rounded-circle{
    object-fit: cover;
}



