{{#partial "content"}}
    {{#if squads}}
    <div class="container">
        <div class="row">
            <h3>Squads</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">link to Details</th>
                    </tr>
                </thead>
                <tbody>
                {{#each squads}}
                    <tr>
                        <td>{{name}}</td>
                        <td><a href="/squads/{{id}}" class="btn btn-secondary">Details</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <a href="/squads/delete" class="btn btn-danger">Delete all squads</a><br>
            <a class="btn btn-primary" href="/squads/new">Add Squad</a>
        </div>
    </div>
    {{else}}
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <h1>No Squads Found</h1>
                </div>
            </div>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}