{{#partial "content"}}

    <div class="container-fluid">
        <h1>Upload Failed!! File is too large (MAX-300KB)</h1>
        <a class="nav-link btn btn-primary" href="/upload/{{id}}">Go Back</a>
    </div>

{{/partial}}

{{> layout.hbs}}