{{#partial "content"}}

    <div class="container">
        <div class="jumbotron">
            <h1>Squad Already Exists</h1>
            <a href="/squads/new" class="btn btn-secondary">Go Back</a>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}